# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist
/dist2

# Neutralinojs client (minified)
#neutralino.js

# Neutralinojs related files
.storage
*.log
.tmp

# build scripts
/_app_scaffolds
/build-*.sh
/postproc-*.sh
todo.md